{% extends "base.html" %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <fieldset class"">
        <legend class="border-bottom mb-4">Add a Recruiter</legend>
        {{ form.as_p }}
    <input type="submit" value="Add Recruiter">
    <div>
        <p></p>
        <a href='/add-mark'>Add new Mark</a>
    </div>
    <div>
        <a href='/add-mark/add-candidate'>Add new Candidate</a>
    </div>
    <div>
        <a href='/add-mark/add-task'>Add new Task</a>
    </div>
</form>
{% endblock content %}